In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier

the code below removes the first column idk how to fix it right now.

In [8]:
Df = pd.read_csv("adult.data",names=["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"])
Df

       age          workclass  fnlwgt  ... hoursPerWeek   nativeCountry  income
0       39          State-gov   77516  ...           40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...           13   United-States   <=50K
2       38            Private  215646  ...           40   United-States   <=50K
3       53            Private  234721  ...           40   United-States   <=50K
4       28            Private  338409  ...           40            Cuba   <=50K
...    ...                ...     ...  ...          ...             ...     ...
32556   27            Private  257302  ...           38   United-States   <=50K
32557   40            Private  154374  ...           40   United-States    >50K
32558   58            Private  151910  ...           40   United-States   <=50K
32559   22            Private  201490  ...           20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...           40   United-States    >50K

[32561 rows x 15 columns]

In [9]:
trainDf = pd.read_csv("adult.data", skipinitialspace=True,names=["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"])
#trainDf.columns = ["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"]
trainDf

       age         workclass  fnlwgt  ... hoursPerWeek  nativeCountry income
0       39         State-gov   77516  ...           40  United-States  <=50K
1       50  Self-emp-not-inc   83311  ...           13  United-States  <=50K
2       38           Private  215646  ...           40  United-States  <=50K
3       53           Private  234721  ...           40  United-States  <=50K
4       28           Private  338409  ...           40           Cuba  <=50K
...    ...               ...     ...  ...          ...            ...    ...
32556   27           Private  257302  ...           38  United-States  <=50K
32557   40           Private  154374  ...           40  United-States   >50K
32558   58           Private  151910  ...           40  United-States  <=50K
32559   22           Private  201490  ...           20  United-States  <=50K
32560   52      Self-emp-inc  287927  ...           40  United-States   >50K

[32561 rows x 15 columns]

In [10]:
testDf = pd.read_csv("adult.test", skipinitialspace=True,names=["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"])
#testDf.columns = ["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"]
testDf["income"] = testDf["income"].str.replace('.', '')
testDf

                        age     workclass  ...  nativeCountry income
0      |1x3 Cross validator           NaN  ...            NaN    NaN
1                        25       Private  ...  United-States  <=50K
2                        38       Private  ...  United-States  <=50K
3                        28     Local-gov  ...  United-States   >50K
4                        44       Private  ...  United-States   >50K
...                     ...           ...  ...            ...    ...
16277                    39       Private  ...  United-States  <=50K
16278                    64             ?  ...  United-States  <=50K
16279                    38       Private  ...  United-States  <=50K
16280                    44       Private  ...  United-States  <=50K
16281                    35  Self-emp-inc  ...  United-States   >50K

[16282 rows x 15 columns]

In [11]:
print("train length = ", len(trainDf))
print("test len = ", len(testDf))

train length =  32561
test len =  16282

removes rows that have '?'

In [12]:
trainDf = trainDf[(trainDf.values != '?').all(axis=1)]
testDf = testDf[(testDf.values != '?').all(axis=1)]
print("train length = ", len(trainDf))
print("test len = ", len(testDf))

train length =  30162
test len =  15061

drops continous values

In [13]:
trainDf = trainDf.drop(["age" , "fnlwgt", "educationNum", "capitalGain", "capitalLoss", "hoursPerWeek"], axis=1)
trainDf

              workclass   education  ...  nativeCountry income
0             State-gov   Bachelors  ...  United-States  <=50K
1      Self-emp-not-inc   Bachelors  ...  United-States  <=50K
2               Private     HS-grad  ...  United-States  <=50K
3               Private        11th  ...  United-States  <=50K
4               Private   Bachelors  ...           Cuba  <=50K
...                 ...         ...  ...            ...    ...
32556           Private  Assoc-acdm  ...  United-States  <=50K
32557           Private     HS-grad  ...  United-States   >50K
32558           Private     HS-grad  ...  United-States  <=50K
32559           Private     HS-grad  ...  United-States  <=50K
32560      Self-emp-inc     HS-grad  ...  United-States   >50K

[30162 rows x 9 columns]

In [14]:
testDf = testDf.drop(["age" , "fnlwgt", "educationNum", "capitalGain", "capitalLoss", "hoursPerWeek"], axis=1)
testDf

          workclass     education  ...  nativeCountry income
0               NaN           NaN  ...            NaN    NaN
1           Private          11th  ...  United-States  <=50K
2           Private       HS-grad  ...  United-States  <=50K
3         Local-gov    Assoc-acdm  ...  United-States   >50K
4           Private  Some-college  ...  United-States   >50K
...             ...           ...  ...            ...    ...
16276       Private     Bachelors  ...  United-States  <=50K
16277       Private     Bachelors  ...  United-States  <=50K
16279       Private     Bachelors  ...  United-States  <=50K
16280       Private     Bachelors  ...  United-States  <=50K
16281  Self-emp-inc     Bachelors  ...  United-States   >50K

[15061 rows x 9 columns]

converting the dataframes to csv's

In [15]:
trainDf.to_csv('train.csv')
testDf.to_csv('test.csv')

for some reason there is a column called unnamed:0

In [16]:
dfTrain = pd.read_csv("train.csv")
dfTrain.drop(["Unnamed: 0"],axis=1, inplace=True)
dfTrain

              workclass   education  ...  nativeCountry income
0             State-gov   Bachelors  ...  United-States  <=50K
1      Self-emp-not-inc   Bachelors  ...  United-States  <=50K
2               Private     HS-grad  ...  United-States  <=50K
3               Private        11th  ...  United-States  <=50K
4               Private   Bachelors  ...           Cuba  <=50K
...                 ...         ...  ...            ...    ...
30157           Private  Assoc-acdm  ...  United-States  <=50K
30158           Private     HS-grad  ...  United-States   >50K
30159           Private     HS-grad  ...  United-States  <=50K
30160           Private     HS-grad  ...  United-States  <=50K
30161      Self-emp-inc     HS-grad  ...  United-States   >50K

[30162 rows x 9 columns]

In [17]:
dfTest = pd.read_csv("test.csv")
dfTest.drop(["Unnamed: 0"],axis=1, inplace=True)
dfTest

          workclass     education  ...  nativeCountry income
0               NaN           NaN  ...            NaN    NaN
1           Private          11th  ...  United-States  <=50K
2           Private       HS-grad  ...  United-States  <=50K
3         Local-gov    Assoc-acdm  ...  United-States   >50K
4           Private  Some-college  ...  United-States   >50K
...             ...           ...  ...            ...    ...
15056       Private     Bachelors  ...  United-States  <=50K
15057       Private     Bachelors  ...  United-States  <=50K
15058       Private     Bachelors  ...  United-States  <=50K
15059       Private     Bachelors  ...  United-States  <=50K
15060  Self-emp-inc     Bachelors  ...  United-States   >50K

[15061 rows x 9 columns]

In [18]:
def oneHotBind(df, features):
    dummies = pd.get_dummies(df[features])
    res = pd.concat([df, dummies], axis=1)
    res = res.drop(features, axis=1)
    
    return res

In [19]:
dfTrain = oneHotBind(dfTrain, ["workclass", "education", "maritalStatus", "occupation", "relationship", "race", "sex", "nativeCountry", "income"])
dfTrain

       workclass_Federal-gov  workclass_Local-gov  ...  income_<=50K  income_>50K
0                          0                    0  ...             1            0
1                          0                    0  ...             1            0
2                          0                    0  ...             1            0
3                          0                    0  ...             1            0
4                          0                    0  ...             1            0
...                      ...                  ...  ...           ...          ...
30157                      0                    0  ...             1            0
30158                      0                    0  ...             0            1
30159                      0                    0  ...             1            0
30160                      0                    0  ...             1            0
30161                      0                    0  ...             0            1

[30162 rows x 100 columns]

In [20]:
dfTest = oneHotBind(dfTest, ["workclass", "education", "maritalStatus", "occupation", "relationship", "race", "sex", "nativeCountry", "income"])
dfTest

       workclass_Federal-gov  workclass_Local-gov  ...  income_<=50K  income_>50K
0                          0                    0  ...             0            0
1                          0                    0  ...             1            0
2                          0                    0  ...             1            0
3                          0                    1  ...             0            1
4                          0                    0  ...             0            1
...                      ...                  ...  ...           ...          ...
15056                      0                    0  ...             1            0
15057                      0                    0  ...             1            0
15058                      0                    0  ...             1            0
15059                      0                    0  ...             1            0
15060                      0                    0  ...             0            1

[15061 rows x 99 columns]

In [21]:
for attributes in dfTrain.keys():
    if attributes not in dfTest.keys():
        print("Adding missing feature {}".format(attributes))
        dfTest[attributes] = 0

Adding missing feature nativeCountry_Holand-Netherlands

In [22]:
features = []
target = []
for col in dfTrain.columns:
    if col == "income_<=50K" or col == 'income_>50K':
        target.append(col)
    else:
        features.append(col)

print(target)
print(features)

['income_<=50K', 'income_>50K']
['workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay', 'education_10th', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college', 'maritalStatus_Divorced', 'maritalStatus_Married-AF-spouse', 'maritalStatus_Married-civ-spouse', 'maritalStatus_Married-spouse-absent', 'maritalStatus_Never-married', 'maritalStatus_Separated', 'maritalStatus_Widowed', 'occupation_Adm-clerical', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving', 'relationship_Husband', 'relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White', 'sex_Female', 'sex_Male', 'nativeCountry_Cambodia', 'nativeCountry_Canada', 'nativeCountry_China', 'nativeCountry_Columbia', 'nativeCountry_Cuba', 'nativeCountry_Dominican-Republic', 'nativeCountry_Ecuador', 'nativeCountry_El-Salvador', 'nativeCountry_England', 'nativeCountry_France', 'nativeCountry_Germany', 'nativeCountry_Greece', 'nativeCountry_Guatemala', 'nativeCountry_Haiti', 'nativeCountry_Holand-Netherlands', 'nativeCountry_Honduras', 'nativeCountry_Hong', 'nativeCountry_Hungary', 'nativeCountry_India', 'nativeCountry_Iran', 'nativeCountry_Ireland', 'nativeCountry_Italy', 'nativeCountry_Jamaica', 'nativeCountry_Japan', 'nativeCountry_Laos', 'nativeCountry_Mexico', 'nativeCountry_Nicaragua', 'nativeCountry_Outlying-US(Guam-USVI-etc)', 'nativeCountry_Peru', 'nativeCountry_Philippines', 'nativeCountry_Poland', 'nativeCountry_Portugal', 'nativeCountry_Puerto-Rico', 'nativeCountry_Scotland', 'nativeCountry_South', 'nativeCountry_Taiwan', 'nativeCountry_Thailand', 'nativeCountry_Trinadad&Tobago', 'nativeCountry_United-States', 'nativeCountry_Vietnam', 'nativeCountry_Yugoslavia']

In [23]:
x = dfTrain[features]
y = dfTrain[target]
X = dfTest[features]
Y = dfTest[target]
# X_train, X_test, y_train, y_test = train_test_split(x,y)
tree = DecisionTreeClassifier()
tree.fit(x, y)
predictions = tree.predict(X)
print("Accuraccy: " + str(accuracy_score(Y, predictions)))
print(classification_report(Y, predictions))

Accuraccy: 0.798021379722462
              precision    recall  f1-score   support

           0       0.87      0.88      0.87     11360
           1       0.63      0.56      0.59      3700

   micro avg       0.82      0.80      0.81     15060
   macro avg       0.75      0.72      0.73     15060
weighted avg       0.81      0.80      0.80     15060
 samples avg       0.80      0.80      0.80     15060

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [24]:
print(x.shape)
print(y.shape)

(30162, 98)
(30162, 2)

Use Bernoulli Naive Bayes since we are trying to classify if the person makes more or less than 50k a year. We chose Bernoulli since we have one-hot encoded our data, so it is binarized already.

In [25]:
from sklearn.naive_bayes import BernoulliNB

y = y.iloc[:, 1:]
Y = Y.iloc[:, 1:]
bnb = BernoulliNB()
bnb.fit(x, y)
predictions = bnb.predict(X)

print('Accuracy: '+ str(accuracy_score(Y, predictions)))
print(classification_report(Y, predictions))

Accuracy: 0.7526060686541398
              precision    recall  f1-score   support

           0       0.92      0.74      0.82     11361
           1       0.50      0.79      0.61      3700

    accuracy                           0.75     15061
   macro avg       0.71      0.77      0.72     15061
weighted avg       0.81      0.75      0.77     15061

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

#SVM

In [27]:
from sklearn import svm

classifier = svm.SVC(gamma='auto')
classifier.fit(x,y)
predictions = classifier.predict(X)
print('Accuracy: '+ str(accuracy_score(Y, predictions)))
print(classification_report(Y, predictions))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.823252108093752
              precision    recall  f1-score   support

           0       0.85      0.92      0.89     11361
           1       0.69      0.52      0.59      3700

    accuracy                           0.82     15061
   macro avg       0.77      0.72      0.74     15061
weighted avg       0.81      0.82      0.81     15061

#Neural Network

In [34]:
mlp = MLPClassifier(hidden_layer_sizes = (104,104,104))
mlp.fit(x,y)

predictions = mlp.predict(X)
print('Accuracy: ' + str(accuracy_score(Y,predictions)))
print(classification_report(Y, predictions))

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.8154836996215391
              precision    recall  f1-score   support

           0       0.87      0.89      0.88     11361
           1       0.64      0.58      0.61      3700

    accuracy                           0.82     15061
   macro avg       0.75      0.74      0.74     15061
weighted avg       0.81      0.82      0.81     15061