In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

the code below removes the first column idk how to fix it right now.

In [2]:
trainDf = pd.read_csv("adult.data", skipinitialspace=True)
trainDf.columns = ["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"]
trainDf

,age,workclass,fnlwgt,education,educationNum,maritalStatus,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
testDf = pd.read_csv("adult.test", skipinitialspace=True)
testDf.columns = ["age" , "workclass", "fnlwgt", "education", "educationNum", "maritalStatus", "occupation", "relationship", "race", "sex", "capitalGain", "capitalLoss", "hoursPerWeek", "nativeCountry", "income"]
testDf["income"] = testDf["income"].str.replace('.', '')
testDf

<ipython-input-3-5335d5a4671d>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  testDf["income"] = testDf["income"].str.replace('.', '')

,age,workclass,fnlwgt,education,educationNum,maritalStatus,occupation,relationship,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
16276,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
16277,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
16278,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
16279,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
print("train length = ", len(trainDf))
print("test len = ", len(testDf))

train length =  32560
test len =  16280

removes rows that have '?'

In [5]:
trainDf = trainDf[(trainDf.values != '?').all(axis=1)]
testDf = testDf[(testDf.values != '?').all(axis=1)]
print("train length = ", len(trainDf))
print("test len = ", len(testDf))

train length =  30161
test len =  15059

drops continous values

In [6]:
trainDf = trainDf.drop(["age" , "fnlwgt", "educationNum", "capitalGain", "capitalLoss", "hoursPerWeek"], axis=1)
trainDf

,workclass,education,maritalStatus,occupation,relationship,race,sex,nativeCountry,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
32555,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32556,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32557,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32558,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32559,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [7]:
testDf = testDf.drop(["age" , "fnlwgt", "educationNum", "capitalGain", "capitalLoss", "hoursPerWeek"], axis=1)
testDf

,workclass,education,maritalStatus,occupation,relationship,race,sex,nativeCountry,income
0,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
1,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
2,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K
6,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
...,...,...,...,...,...,...,...,...,...
16274,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Male,United-States,<=50K
16275,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,<=50K
16277,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
16278,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,United-States,<=50K
16279,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K

converting the dataframes to csv's

In [8]:
trainDf.to_csv('train.csv')
testDf.to_csv('test.csv')

for some reason there is a column called unnamed:0

In [14]:
dfTrain = pd.read_csv("train.csv")
dfTrain.drop(["Unnamed: 0"],axis=1, inplace=True)
dfTrain

,workclass,education,maritalStatus,occupation,relationship,race,sex,nativeCountry,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
30156,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
30157,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
30158,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
30159,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
30160,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [15]:
dfTest = pd.read_csv("test.csv")
dfTest.drop(["Unnamed: 0"],axis=1, inplace=True)
dfTest

,workclass,education,maritalStatus,occupation,relationship,race,sex,nativeCountry,income
0,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
1,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
2,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
3,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K
4,Self-emp-not-inc,Prof-school,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
...,...,...,...,...,...,...,...,...,...
15054,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Male,United-States,<=50K
15055,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,<=50K
15056,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
15057,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,United-States,<=50K
15058,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K

In [16]:
def oneHotBind(df, features):
    dummies = pd.get_dummies(df[features])
    res = pd.concat([df, dummies], axis=1)
    res = res.drop(features, axis=1)
    
    return res

In [17]:
dfTrain = oneHotBind(dfTrain, ["workclass", "education", "maritalStatus", "occupation", "relationship", "race", "sex", "nativeCountry", "income"])
dfTrain

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,nativeCountry_Scotland,nativeCountry_South,nativeCountry_Taiwan,nativeCountry_Thailand,nativeCountry_Trinadad&Tobago,nativeCountry_United-States,nativeCountry_Vietnam,nativeCountry_Yugoslavia,income_<=50K,income_>50K
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
30157,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
30158,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
30159,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
30160,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [18]:
dfTest = oneHotBind(dfTest, ["workclass", "education", "maritalStatus", "occupation", "relationship", "race", "sex", "nativeCountry", "income"])
dfTest

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,nativeCountry_Scotland,nativeCountry_South,nativeCountry_Taiwan,nativeCountry_Thailand,nativeCountry_Trinadad&Tobago,nativeCountry_United-States,nativeCountry_Vietnam,nativeCountry_Yugoslavia,income_<=50K,income_>50K
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15054,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
15055,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
15056,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
15057,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
15058,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [19]:
for attributes in dfTrain.keys():
    if attributes not in dfTest.keys():
        print("Adding missing feature {}".format(attributes))
        dfTest[attributes] = 0

Adding missing feature nativeCountry_Holand-Netherlands

In [20]:
features = []
target = []
for col in dfTrain.columns:
    if col == "income_<=50K" or col == 'income_>50K':
        target.append(col)
    else:
        features.append(col)

print(target)
print(features)

['income_<=50K', 'income_>50K']
['workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay', 'education_10th', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college', 'maritalStatus_Divorced', 'maritalStatus_Married-AF-spouse', 'maritalStatus_Married-civ-spouse', 'maritalStatus_Married-spouse-absent', 'maritalStatus_Never-married', 'maritalStatus_Separated', 'maritalStatus_Widowed', 'occupation_Adm-clerical', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving', 'relationship_Husband', 'relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White', 'sex_Female', 'sex_Male', 'nativeCountry_Cambodia', 'nativeCountry_Canada', 'nativeCountry_China', 'nativeCountry_Columbia', 'nativeCountry_Cuba', 'nativeCountry_Dominican-Republic', 'nativeCountry_Ecuador', 'nativeCountry_El-Salvador', 'nativeCountry_England', 'nativeCountry_France', 'nativeCountry_Germany', 'nativeCountry_Greece', 'nativeCountry_Guatemala', 'nativeCountry_Haiti', 'nativeCountry_Holand-Netherlands', 'nativeCountry_Honduras', 'nativeCountry_Hong', 'nativeCountry_Hungary', 'nativeCountry_India', 'nativeCountry_Iran', 'nativeCountry_Ireland', 'nativeCountry_Italy', 'nativeCountry_Jamaica', 'nativeCountry_Japan', 'nativeCountry_Laos', 'nativeCountry_Mexico', 'nativeCountry_Nicaragua', 'nativeCountry_Outlying-US(Guam-USVI-etc)', 'nativeCountry_Peru', 'nativeCountry_Philippines', 'nativeCountry_Poland', 'nativeCountry_Portugal', 'nativeCountry_Puerto-Rico', 'nativeCountry_Scotland', 'nativeCountry_South', 'nativeCountry_Taiwan', 'nativeCountry_Thailand', 'nativeCountry_Trinadad&Tobago', 'nativeCountry_United-States', 'nativeCountry_Vietnam', 'nativeCountry_Yugoslavia']

In [21]:
x = dfTrain[features]
y = dfTrain[target]
X = dfTest[features]
Y = dfTest[target]
# X_train, X_test, y_train, y_test = train_test_split(x,y)
tree = DecisionTreeClassifier()
tree.fit(x, y)
predictions = tree.predict(X)
print("Accuraccy: " + str(accuracy_score(Y, predictions)))
print(classification_report(Y, predictions))

Accuraccy: 0.7991898532439073
              precision    recall  f1-score   support

           0       0.87      0.88      0.87     11359
           1       0.63      0.56      0.59      3700

   micro avg       0.82      0.80      0.81     15059
   macro avg       0.75      0.72      0.73     15059
weighted avg       0.81      0.80      0.80     15059
 samples avg       0.80      0.80      0.80     15059

C:\Users\Yaling\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(x, y.iloc[:, 1:])
predictions = gnb.predict(X)

print('Accuracy: '+ str(accuracy_score(Y.iloc[:, 1:], predictions)))
print(classification_report(Y.iloc[:, 1:], predictions))

TypeError: '(slice(None, None, None), slice(1, None, None))' is an invalid key